services:
  redis:
    container_name: integration-tests-redis
    image: redis:7.2-alpine
    ports:
      - 6381:6379

  db:
    image: postgres:15.4
    restart: always
    container_name: integration-tests-prisma
    ports:
      - '5434:5432'
    environment:
      POSTGRES_USER: prisma
      POSTGRES_PASSWORD: prisma
      POSTGRES_DB: tests
    tmpfs:
      - /var/lib/postgresql/data

  mailhog:
    container_name: integration-tests-mailhog
    image: mailhog/mailhog:latest
    ports:
      - '1025:1025'
      - '8025:8025'
